.container {
    display: grid;
    grid-template-columns: auto auto auto;
    border: 1px solid black;
}
.container > div {
    padding: 5px;
    background-color: bisque;
    border: 1px solid black;
}
.container {
    justify-items: center;
}
/* You see above grid items arranged center along the inline axis, within their respective grid cells.
This property allows us to set the default way of justifying each item in their respective grid cells.
justify-self and align-self properties control the alignment of any specific grid item within its grid cell along the
horizontal and vertical axes, respectively. The values can be a start, end, center, or stretch. */