body, ul {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color:skyblue;
    height: 50%;
}

.nav-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.nav-list li {
    margin: 0 15px;
}

.nav-list li a {
    text-decoration: none;
    color:black;
    transition: color 0.3s ease;
}

.nav-list li a:hover {
    color: #ff6600; 
}