/* use the Descendant combinator selector to remove list style type bullet points and text underlining of the
Menu list items */
ul li a {
    list-style: none;
    text-decoration: none;
}
/* use the child combinator to display the menu list item inline */
ul > li {
    display: inline;
}
/* use the Adjacent sibling combinator selector to apply some margin between the menu list items. */
li + li {
    margin: 10px;
}